At the onset, we need to import required libraries. Tweepy is a library that has been used here to fetch tweets from the website. Pandas is useful for printing the final result in tabular form. Json library is used for handling json data.

In [0]:
import tweepy
import json
import pandas as pd

Next, we store the different keys and tokens which is needed for accessing tweets from the website. All the keys have been replaced by * for security reasons.

In [0]:
consumer_key = "**"
consumer_secret = "**"
access_token = "**"
access_secret = "**"

The following block sets all required keys. Then, a call to the API is made which will handle the tweets.

In [0]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
twitter_api = tweepy.API(auth)

This next segment fetches all tweet data.  The variable tweets is used to iterate through the status objects of the cursor. Each status object's json data is stored in "._json" attribute. The json data in each status object is dumped as string in the file "twitter_data.jsonl". Additionaly a newline is also appended after each json data dump.

In [0]:
with open('twitter_data.jsonl', 'w') as dumpdata:
  for tweets in tweepy.Cursor(twitter_api.user_timeline, screen_name='@midasIIITD', tweet_mode="extended").items():
      json.dump(tweets._json, dumpdata)
      dumpdata.write('\n')

Moving on to the next part of the code, each line of the previously created file is read and stored in a list of strings.

In [0]:

with open('twitter_data.jsonl', 'r') as infile:
    content = infile.readlines()                    # content is a list of string storing each line of the file

A function is created which fetches the number of images in a tweet. Unlike other data, image may be stored in two location depending on the type of the tweet. If the tweet is actually a retweet, the image data is stored inside a list named "*media*" which is present inside a dictionary whose key is named "*entities*" which again is present inside a dictionary whose key is named "*retweeted_status*". In case the tweet is not a retweet the image is stored in list *"media"* which is stored inside a dictionary whose key is *"entities"*.

The function *get_imagecount()* takes the list *media* as a parameter and checks whether any of the list entry (which again are dictionaries) has "type" key value "photo". If yes, it is a image, if no, then it is not.

In [0]:
def get_imagecount(medialist=[]):
  count = 0
  for diction in medialist:
    if diction["type"] == "photo":
      count = count+1
  return count

The required data is fetched from the json dictionaries and stored in corresponding lists as strings.
Here too, if the tweet is a retweet, favorite count and retweet count is present in a dictionary with key "retweeted_status". If it is just a simple tweet, they are present in the main dictionary itself

In [0]:
textlist = []                             # list to store text of tweet
fav_count = []                            # list to store number of likes on tweet
retweet_count = []                        # list to store number of retweets
datelist = []                             # list to store date and time of tweet
image_count = []                          # list to store number of images in a tweet
for line in content:
  jsondata = json.loads(line)                       # converting from string to type dictionary
  isRetweet = False                                 # to check whether a tweet is a retweet or not 
  textlist.append(jsondata["full_text"])            
  try:
    fav_count.append(jsondata["retweeted_status"]["favorite_count"])                  # if the tweet is a retweet, favorite and retweet count is stored in a 
    retweet_count.append(jsondata["retweeted_status"]["retweet_count"])               # dictionary whose key is "retweeted_status". In case the tweet is a retweet,
    isRetweet = True                                                                  # try block gets successfully executed
  except:
    fav_count.append(jsondata["favorite_count"])                                      # in case the tweet is not a retweet, the try block causes an error and execution
    retweet_count.append(jsondata["retweet_count"])                                   # moves into except block
    isRetweet = False
  datelist.append(jsondata["created_at"])
  try :
    if isRetweet == False:                                                            # As explained in a previous markdown cell, this try block attempts to get 
      if get_imagecount(jsondata["entities"]["media"]) == 0 :                         # number of images based on whether a tweet is a retweet or not
         image_count.append("None")
      else :
         image_count.append(get_imagecount(jsondata["entities"]["media"]))
    else:
      if get_imagecount(jsondata["retweeted_status"]["entities"]["media"]) == 0 :     # if there is no media, "None" is appended
         image_count.append("None")
      else :
         image_count.append(get_imagecount(jsondata["retweeted_status"]["entities"]["media"]))
  except :
    image_count.append("None")                                                        # if the key "media" is absent, it suggests 0 images and "None" is appended

All the lists are put inside a dictionary with appropriate key names for conversion to a dataframe of pandas.

In [8]:
table_data = {'Text': textlist, 'Likes' : fav_count, 'Retweets' : retweet_count, 'Images': image_count, 'Date/Time': datelist}
print(len(textlist))
print(len(fav_count))
print(len(image_count))
print(len(datelist))
print(len(retweet_count))

344
344
344
344
344

The dictionary is converted into a dataframe so that it can be displayed in a tabular format.

In [9]:
df = pd.DataFrame(table_data)
print(df)

                          Date/Time Images  Likes  Retweets  \
0    Wed Apr 10 09:01:29 +0000 2019   None      0         0
1    Wed Apr 10 04:51:26 +0000 2019      1      3         1
2    Tue Apr 09 16:45:07 +0000 2019      1     59        14
3    Tue Apr 09 05:04:27 +0000 2019   None     96        35
4    Tue Apr 09 05:04:11 +0000 2019      1     37        17
5    Mon Apr 08 19:38:09 +0000 2019   None     20        15
6    Mon Apr 08 07:08:12 +0000 2019      1     18         2
7    Mon Apr 08 03:27:42 +0000 2019      1      5         0
8    Sun Apr 07 14:17:29 +0000 2019   None      0         0
9    Sun Apr 07 14:17:09 +0000 2019   None      0         0
10   Sun Apr 07 11:43:24 +0000 2019   None      1         1
11   Sun Apr 07 06:55:19 +0000 2019   None      5         2
12   Sun Apr 07 06:53:38 +0000 2019   None      4         1
13   Sun Apr 07 05:32:27 +0000 2019   None      6         1
14   Sun Apr 07 05:29:40 +0000 2019   None      7         1
15   Sat Apr 06 17:11:29 +0000 2019   None     21         2
16   Sat Apr 06 16:43:27 +0000 2019      1     18         3
17   Fri Apr 05 16:08:37 +0000 2019   None     11         1
18   Fri Apr 05 04:05:11 +0000 2019   None     49        16
19   Fri Apr 05 04:04:43 +0000 2019      1     21        11
20   Wed Apr 03 18:31:53 +0000 2019      1    225        59
21   Wed Apr 03 17:04:32 +0000 2019      1   2422       872
22   Wed Apr 03 09:03:40 +0000 2019   None    151        16
23   Wed Apr 03 07:46:02 +0000 2019   None      4         4
24   Tue Apr 02 04:20:13 +0000 2019   None      8         1
25   Tue Apr 02 02:44:54 +0000 2019   None      5         1
26   Tue Apr 02 02:35:44 +0000 2019   None      9         7
27   Mon Apr 01 06:53:08 +0000 2019   None      7         2
28   Sun Mar 31 10:21:24 +0000 2019      1     12        10
29   Fri Mar 29 19:43:24 +0000 2019   None      7         2
..                              ...    ...    ...       ...
314  Thu Aug 09 05:59:57 +0000 2018   None    567       265
315  Wed Aug 08 11:30:56 +0000 2018   None      2         1
316  Wed Aug 08 05:53:48 +0000 2018      1      3         1
317  Wed Aug 08 05:45:58 +0000 2018   None      6         1
318  Tue Aug 07 07:16:33 +0000 2018      1     88        40
319  Tue Aug 07 02:05:12 +0000 2018   None      1         1
320  Tue Aug 07 01:58:49 +0000 2018   None      1         1
321  Tue Aug 07 01:50:33 +0000 2018   None      1         1
322  Mon Aug 06 17:48:23 +0000 2018   None      0         0
323  Mon Aug 06 17:46:59 +0000 2018      1    423       103
324  Mon Aug 06 06:06:47 +0000 2018   None      0         0
325  Fri Aug 03 05:56:33 +0000 2018   None      6         1
326  Wed Aug 01 11:47:15 +0000 2018      1      5         1
327  Wed Aug 01 11:20:07 +0000 2018   None      7         4
328  Wed Aug 01 05:06:47 +0000 2018      1      4         4
329  Tue Jul 31 12:11:52 +0000 2018   None      1         0
330  Tue Jul 31 02:06:26 +0000 2018   None    756       264
331  Mon Jul 30 07:30:51 +0000 2018   None     14         2
332  Sat Jul 28 11:07:11 +0000 2018   None    218        57
333  Sat Jul 28 06:14:09 +0000 2018      1    225       105
334  Sat Jul 28 06:13:48 +0000 2018   None      7         7
335  Sat Jul 28 04:08:21 +0000 2018      1     36         6
336  Fri Jul 27 06:46:44 +0000 2018   None      3         2
337  Fri Jul 27 04:07:31 +0000 2018   None      8         2
338  Wed Jul 25 05:14:35 +0000 2018   None      5         1
339  Tue Jul 24 10:33:23 +0000 2018   None      2         1
340  Tue Jul 24 10:12:34 +0000 2018   None      2         1
341  Tue Jul 24 09:46:26 +0000 2018      1      4         1
342  Mon Jul 23 16:25:05 +0000 2018   None      3         1
343  Mon Jul 23 12:53:15 +0000 2018   None      7         4

                                                  Text
0    Clarification: Our earlier post which indicate...
1    RT @IIITDelhi: Applications open for MTech (CB...
2    RT @IIITDelhi: We are delighted to share that ...
3    RT @Harvard: Professor Jelani Nelson founded A...
4    RT @emnlp2019: For anyone interested in submit...
5    RT @multimediaeval: Announcing the 2019 MediaE...
6    Many Congratulations to @midasIIITD student, S...
7    @midasIIITD thanks all students who have appea...
8    @himanchalchandr Meanwhile, complete CV/NLP ta...
9    @sayangdipto123 Submit as per the guideline ag...
10   We request all students whose interview are sc...
11   Other queries: "none of the Tweeter Apis give ...
12   Other queries: "do we have to make two differe...
13   Other queries: "If using Twitter api, it does ...
14   Response to some queries asked by students on ...
15   RT @kdnuggets: Top 8 #Free Must-Read #Books on...
16   @nupur_baghel @PennDATS Congratulation @nupur_...
17   We have emailed the task details to all candid...
18   RT @rfpvjr: Our NAACL paper on polarization in...
19   RT @kdnuggets: Effective Transfer Learning For...
20   RT @stanfordnlp: Whatâ€™s new in @Stanford CS224...
21   RT @DeepMindAI: Today we're releasing a large-...
22   RT @ylecun: Congratulations Jitendra Malik !\n...
23   RT @IIITDelhi: Another chance to take admissio...
24   Dear @midasIIITD internship candidates who hav...
25   Looking forward to your paper submission to @I...
26   RT @ngrams: Reproducibility in multimedia rese...
27   Online application for https://t.co/DJFDrQsHZP...
28   RT @ACMMM19: A final reminder of the Reproduci...
29   RT @isarth23: Thanks for the support and help ...
..                                                 ...
314  RT @TensorFlow: TensorFlow 1.10.0 has been rel...
315  @midasIIITD is looking for motivated IIITD MTe...
316  @IIITDelhi @ponguru @RatnRajiv The results of ...
317  RT @IIITDelhi: @midasIIITD has secured rank 1 ...
318  RT @kdnuggets: Comparison of Top 6 Python NLP ...
319  Check more details of the 20th IEEE Internatio...
320  MR2AMC@ISM 2018 will be organized by @RatnRaji...
321  Our workshop proposal named, "MR2AMC: Multimod...
322  @NUSComputing Congratulations Abdelhak and Pro...
323  RT @goodfellow_ian: One of the most anticipate...
324     @the_dhumketu Great to have you in @midasIIITD
325  Congratulation @soujanyaporia for being appoin...
326  @IIITDelhi @the_dhumketu Thanks team @midasIII...
327  RT @IIITDelhi: Congratulations @midasIIITD int...
328  RT @learning_pt: Profile of the 5 Indian under...
329  Have a look at the list of accepted papers in ...
330  RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...
331  RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...
332  RT @ylecun: Jitendra Malik, who directs FAIR-M...
333  RT @kdnuggets: .@Bloomberg launches free cours...
334  RT @TechAtBloomberg: Missed #PyLondinium18? Wa...
335  RT @IIITDelhi: We are delighted to announce th...
336  Get ready for the annual technical fest of @II...
337  Congratulations Dr. @RatnRajiv and team @midas...
338  Congratulations MIDAS @midasIIITD intern Prakh...
339    MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
340  It feels great to be the part of @IIITDelhi. h...
341  Thank you, @toonzratn for designing the logo o...
342  We are on Facebook too. Like our page to get o...
343  MIDAS is a group of researchers at IIIT-Delhi ...

[344 rows x 5 columns]

For easy viewing and modification, the dataframe can be saved into a **.csv** too.

In [0]:
df.to_csv("mined_data.csv")